<h1 class="relative mb-4 text-3xl font-black leading-tight text-gray-900 sm:text-6xl xl:mb-8">Login!
</h1>
<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <?php $form = \Bundle\Contracts\Form\Form::begin('','post')?>
    <?=$form->field($model,'email')->emailField()?>
    <?=$form->field($model,'password')->passwordFiled()?>
    <button type="submit" class="
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out">Submit</button>
    <?=\Bundle\Contracts\Form\Form::end()?>
</div>